* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #101010;
}

li {
  list-style: none;
}

.container {
  width: 144rem;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo span {
  font-size: 4rem;
  font-weight: 700;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  font-size: 1.6rem;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.nav-contact {
  text-decoration: underline;
}

.hero {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #1d1e25;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
}

.hero-info > h1 {
  font-size: 8rem;
}

.hero-info > h2 {
  width: 51rem;
  font-size: 3.2rem;
}

.input-field > input {
  width: 28rem;
  height: 3rem;
  font-size: 1.6rem;
}

.input-field > button {
  background-color: #1d1e25;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
}

.customer {
  background-color: #1d1e25;
  color: #fff;
  padding: 5rem;
}

.customer > h2 {
  width: 80rem;
  font-size: 5.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.customer > p {
  width: 60rem;
  font-size: 1.8rem;
}

.customer-info {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.info {
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.info > img {
  width: 4rem;
  height: 4rem;
}

.info > h3 {
  font-size: 3.2rem;
}

.info > p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.revenue {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.revenue-figure {
  width: 58rem;
  height: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revenue-figure > img {
  width: 29rem;
  height: 29rem;
}

.revenue-text {
  width: 55rem;
  height: 65rem;
}

.revenue-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
}

.revenue-text > h2 {
  font-size: 5.6rem;
}

.revenue-text > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.revenue-text > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
